<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginclinicapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".menu_desplegable"
            android:label="@string/title_activity_menu_desplegable"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DetalleTurno" />
        <activity
            android:name=".ver_agenda"
            android:exported="true" />
        <activity
            android:name=".eliminar_turnos"
            android:exported="true" />
        <activity
            android:name=".aniadir_turnos"
            android:exported="true" />
        <activity
            android:name=".inicio_medico"
            android:exported="true" />
        <activity
            android:name=".pedir_turnos_fecha"
            android:exported="true" />
        <activity
            android:name=".pedir_turno_turnos"
            android:exported="true" />
        <activity
            android:name=".historial_turnos_pacientes"
            android:exported="true" />
        <activity
            android:name=".pedir_turno"
            android:exported="true" />
        <activity
            android:name=".ver_mis_turnos"
            android:exported="true" />
        <activity
            android:name=".inicio_paciente"
            android:exported="true" />
        <activity
            android:name=".pantalla_cargando"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>